@charset "UTF-8";

*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

html,body{
    width: 100%;
}

.section-1 {
    background-color: black;
    padding: 20px 0px;
}
.container {
    width: 980px;
    margin: 0 auto;
}
.section-1 .container {
    display: flex;
    justify-content: space-between;
}
.midias-sociais{
    color: #fff;
    
}
.midias-sociais ul{
    list-style: none;
    display: flex;
    line-height: 10px;
    gap: 10px;
}
.midias-sociais a{
    color: #fff;
}
.section-2 {
    background-color: #fff;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}
.menu {
    font: 1.10rem 'Prompt', sans-serif;
    
   
}
.menu ul li{

    list-style: none;
    display: inline-block;
    margin-left: 20px;
    left: 100%;

}
.menu ul li a {

    color: rgba(44, 52, 44, 0.733);
    text-decoration: none;
    text-transform: uppercase;
}
.menu ul li a:hover {

    color: #00bac6;
    border-bottom: 1px solid #00bac6;

}
.buscador {

    background-color: #e0eeee;
   /*  border: solid 2px #5f9ea0; */
    border-radius: 15px;
    border-color: transparent;
    width: 300px;
    height: 32px;
    float: right;
    margin: 0 auto;

}
.txtBusca{

    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border-color: transparent;
    height: 32px;
    width: 191px;

}
.btnBusca {

    border:none;
    float:right;
    height: 32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#5F9EA0;
    margin:0 auto;
    cursor: pointer;

}
.divBusca img{
    float: left;
    
}
.containeer {
    background-image: url(../img/goiania1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    animation: containeer 8s linear infinite 0s;
    width: 100%;
    height: 400px;
    
}

@keyframes containeer {
    0% {
        background-image: url('../img/goiania1.jpg');
    }
    25% {
        background-image: url('../img/goiania2.jpg');
    }
    50% {
        background-image: url('../img/goiania1.jpg');
    }
    75% {
        background-image: url('../img/goiania2.jpg');
    }
    100% {
        background-image: url('../img/goiania1.jpg');
    }
}

.med {
    text-align: center;
    padding-top: 125px;
}
.titulo {
    font: 4.10rem 'Prompt', sans-serif;
    color: white;

}
        
.sub-titulo {
   
    align-items: center;
    color: white;
    font: arial;
}
.rename{
   
    text-align: right;
    font-size: 15px;
    color: white;
    padding-top: 90px;
}
.conteudo {
   
    height: 1214px;
    
}

.conteudo-1 {
    height: 544px;
    
}
.conteudo-2 {
    height: 670px;
    background-color: rgba(105, 103, 103, 0.933);
}
.patrocinadores{
    height: 175px;
    background-color: white;
}

.header-fim {

    height: 327px;
    background-color: #4f514b ;
}

.info {
    position: relative;
    height: 88px;
    background-color:#25281f;
}

.info-site {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.5%;

}
.repositorio {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12%;
    padding: 1% 25%;
}

.info-site ul {
    display: flex;
    margin: 0;
    align-items: center;
}

.repositorio li {
    margin-left: 20px;
}

.info-site li {
    color: white;
    list-style-type: none;
    font: 1.14rem 'Promt', sans-serif;
}
.info-site a {
    color: white;
}
.direitos-de-privacidade {
    padding: 0 20%;
    
}