*{
  margin: 0;
  padding: 0;  
}
.section-1 {
    background-color: black;
    padding: 20px 0px;
}
.container {
    width: 980px;
    margin: 0 auto;
}
.section-1 .container {
    display: flex;
    justify-content: space-between;
}
.midias-sociais{
    color: #fff;
    
}
.midias-sociais ul{
    list-style: none;
    display: flex;
    line-height: 10px;
    gap: 10px;
}
.midias-sociais a{
    color: #fff;
}
.section-2 {
    background-color: #fff;
    height: 40px;
    align-items: center;
    padding: 20px;
    border: ;

}
.menu {
    font: 1.10rem 'Prompt', sans-serif;
   
}
.menu ul li{

    list-style: none;
    display: inline-block;
    margin-left: 20px;
    
}
.menu ul li a {
    color: rgba(44, 52, 44, 0.733);
    text-decoration: none;
    text-transform: uppercase;
}
.container-carrosel {

    background-color: blue;
}
.section-3 {
    overflow: hidden;
}
.slider > .section-carrossel {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;
}
.slider > .container-carrosel > .slider-item {
    flex: 0 0 auto;
    width: 100%;
}
.slider > input:nth-child(1):checked ~ .section-carrossel {
    transform: translateX(0%);
}
.slider > input:nth-child(2):checked ~ .section-carrossel {
    transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .section-carrossel {
    transform: translateX(-200%);
}
.slider > input:nth-child(4):checked ~ .section-carrossel {
    transform: translateX(-300%);
}