*{
  margin: 0;
  padding: 0;  
}
/*.header{

}*/
.section-1{
    background-color: black;
    padding: 20px 0px;
}
.container {
    width: 980px;
    margin: 0 auto;
}
.section-1 .container {
    display: flex;
    justify-content: space-between;
}
.midias-sociais{
    color: #fff;
    
}
.midias-sociais ul{
    list-style: none;
    display: flex;
    line-height: 10px;
    gap: 10px;
}
.midias-sociais a{
    color: #fff;
}
.section-2 {
    background-color: #fff;
    padding: 20px;
}
.menu {
    
}
.menu ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    
   
}
.menu ul li a {
    color: rgba(44, 52, 44, 0.733);
    text-decoration: none;
    text-transform: uppercase;
}